<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{forloop.index}}" aria-expanded="false" aria-controls="collapse-{{forloop.index}}">
          Features
        </a>
      </h4>
    </div>
    <div id="collapse-{{forloop.index}}" class="panel-collapse" role="tabpanel" aria-label="Side Navigation">
      <div class="list-group">
        <span class="list-group-item disabled"><strong>Why modelx</strong></span>
        <a class="list-group-item" href="{{ site.baseurl }}{{ page.url }}#coming-from-excel">Coming from Excel</a>
        <a class="list-group-item" href="{{ site.baseurl }}{{ page.url }}#coming-from-plain-python">Coming from plain Python</a>
        <a class="list-group-item" href="{{ site.baseurl }}{{ page.url }}#coming-from-commercial-modeling-systems">Coming from commercial systems</a>
        <a class="list-group-item" href="{{ site.baseurl }}{{ page.url }}#honest-tradeoffs">Honest tradeoffs</a>
        {% for group in page.feature_groups %}
          <span class="list-group-item disabled"><strong>{{ group.title }}</strong></span>
          {% for item in group.features %}
            {% assign auto_slug = item.title | slugify %}
            {% assign slug = item.slug | default: auto_slug %}
            {% assign item_url = site.baseurl | append: page.url | append: "#" | append: slug %}
            <a class="list-group-item" href="{{ item_url }}">{{ item.title }}</a>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>

</div>
